@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  font-family: 'Roboto';
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.navLinks {


  /* H5 */

  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-transform: capitalize;
  color: rgba(8, 8, 8, 0.671);
}